.advantages__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/advantages/mobile-screen-3@x1.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
  background-size: 157px 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/advantages/mobile-screen-3@x2.png");
  }
}

.advantages__headline,
.advantages__caption {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $text-base-dark-blue;
  text-align: center;
}

.advantages__headline {
  margin-bottom: 50px;
}

.advantages__caption {
  margin-bottom: 123px;
}

.advantages {
  margin-top: 46px;
}

.advantages__wrap {
  padding-top: 50px;
  background-color: $background-grey-advantages;
}

.advantages__item {
  width: 280px;
  text-align: center;
  margin-bottom: 48px;
}

.advantages__item-mobile {
  position: relative;
  padding-bottom: 280px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  display: inline-block;
  align-items: left;
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $text-base-black;
}

.advantages__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.advantages__research-img {
  display: none;
}

.advantages__research-about {
  display: none;
  margin: 0;
  padding: 0;
}

.advantages__research-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $text-base-black;
}

.advantages__research-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.advantages__research-link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-pink;
}

@media (min-width: $tablet-width) {
  .advantages__headline {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 54px;
  }

  .advantages__caption {
    font-size: 40px;
    line-height: 54px;
  }

  .advantages__item {
    width: 310px;
    text-align: left;
  }

  .advantages__list {
    flex-direction: column;
    align-items: flex-end;
    background-image: url("../img/advantages/tablet-screen-3@x1.png");
    background-position: 20px 3px;
    background-size: 268px 547px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages/tablet-screen-3@x2.png");
    }
  }

  .advantages__item-mobile {
    padding-bottom: 0;
  }

  .advantages__research {
    display: flex;
    justify-content: space-between;
    padding-bottom: 109px;
  }

  // .advantages__research-title {
  //   margin-bottom: 24px;
  // }

  .advantages__research-img {
    display: block;
    // width: 238px;
    // height: 276px;
    margin-top: 54px;
  }

  .advantages__research-about {
    display: flex;
    flex-direction: column;
    margin-top: 102px;
    width: 320px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__headline {
    font-size: 50px;
    line-height: 68px;
  }

  .advantages__caption {
    font-size: 50px;
    line-height: 68px;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__item {
    width: 252px;
    text-align: center;
    margin-right: 50px;
    padding-top: 450px;
  }

  .advantages__list {
    background-image: none;
    flex-direction: row;
  }

  .advantages__item-desktop-1 {
    background-image: url("../img/advantages/desktop-screen-1@x1.png");
    background-position: 20px 3px;
    background-size: 186px 382px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages/desktop-screen-1@x2.png");
    }
  }

  .advantages__item-desktop-2 {
    background-image: url("../img/advantages/desktop-screen-2@x1.png");
    background-position: 20px 3px;
    background-size: 186px 382px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages/desktop-screen-2@x1.png");
    }
  }

  .advantages__item-desktop-3 {
    background-image: url("../img/advantages/desktop-screen-3@x1.png");
    background-position: 20px 3px;
    background-size: 186px 382px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages/desktop-screen-3@x2.png");
    }
  }

  .advantages__research-wrap {
    background-color: $background-grey-advantages;
  }

  .advantages__research-about {
    width: 530px;
  }

  .advantages__research-title {
    line-height: 30px;
  }

  .advantages__research-text {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__research-link {
    font-size: 18px;
    line-height: 30px;
  }

  // .advantages__research-img {
  //   display: block;
  //   width: 298px;
  //   height: 345px;
  // }
}
