.app__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.app__download {
  background: $app-download;
  text-align: center;
  height: 271px;
}

.app-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
}

.app__slogan {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .app__download {
    display: none;
  }
}

// @media (min-width: $desktop-width) {
//   .app__download {
//     display: none;
//   }
// }
