.app {
  padding-top: 29px;
  background-image: url("../img/header/phone-screen.png");
  background-position: 0 110px;
  background-size: 320px 286px;
  background-repeat: no-repeat;
}

.app__title {
  // margin: 0;
  padding: 0;
  padding-bottom: 310px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  max-width: 300px;
}

.app-list {
  margin-bottom: 30px;
}

.app__download {
  background-color: $app-download;
  text-align: center;
  // height: 271px;
  padding-top: 30px;
}

.app-button {
  padding: 13px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
}

.app__slogan {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .app {
    background-position: 400px 110px;
  }

  .app__download {
    background-color: transparent;
    width: 300px;
  }

  .app__title {
    font-size: 40px;
    line-height: 120%;
    width: 247px;
  }

  .app__slogan {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .app {
    background-position: 1000px 110px;
  }

  .app__download {
    background-color: transparent;
  }

  .app__title {
    font-size: 50px;
    line-height: 68px;
  }
}
