.contest-title-win {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $text-base;
}

.form {
  text-align: center;
  // width: 320px;
  width: 100%;
}

.name {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $text-form;
  text-transform: uppercase;
  text-align: left;
}

.name-input {
  // width: 276px;
  height: 59px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: $text-base;
  border: 2px solid $form-border;
  border-radius: 1px;
  width: 100%;
}

.achievement-form {
  margin: 0;
  padding: 0;
  border: none;
}

.achievement-wrap {
  background: $form-wrap;
}

.achievement-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-form;
  text-transform: uppercase;
  // outline: none;
}

.application-wrap {
  background: $form-wrap;
}

.application-form {
  margin: 0;
  padding: 0;
  border: none;
}

.application-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-form;
  text-transform: uppercase;
}

.emotion-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-form;
  display: block;
}

.textarea-input-text {
  width: 276px;
  height: 197px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-base;
}

.button-form {
  background: $button-green;
  border: 2px solid $button-green;
  border-radius: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $text-base;
}
