.contest__title {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 51px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $text-base-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contest__title {
    font-size: 50px;
    line-height: 68px;
    width: 620px;
    padding-top: 81px;
    padding-bottom: 74px;
  }
}

@media (min-width: $desktop-width) {
  .contest__title {
    width: 747px;
    padding-top: 74px;
    padding-bottom: 104px;
  }
}
