.contacts {
  margin-top: 47px;
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__map-frame {
  min-width: 100%;
  position: relative;
  z-index: 2;
}

.contacts__map-image {
  min-width: 100%;
  max-height: 416px;
  // position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $text-base-dark-blue;
  text-align: center;
}

.contacts__title-connection {
  margin-bottom: 45px;
}

.contacts-item {
  margin-bottom: 31px;
}

.contacts-item-order {
  order: 1;
}

.contacts__phone,
.contacts__email,
.contacts__adress {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $text-base-pink;
}

.contacts__email:hover,
.contacts__phone:hover {
  color: $text-base-dark-blue;
  text-decoration-line: underline;
}

.contacts__email:active,
.contacts__phone:active {
  opacity: 0.3;
}

.contacts__adress {
  margin: 0;
  padding: 0;
}

.contacts__map {
  width: 100%;
  position: relative;
}

.contacts__map::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 123px;
  background-image: url("../img/footer/triangle-white-footer.svg");
  background-size: 100% 121px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts-item-email {
    order: 0;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 54px;
  }

  .contacts__adress {
    width: 218px;
  }

  .contacts__map-image {
    height: 374px;
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 50px;
    line-height: 68px;
  }

  .contacts__map-image {
    height: 502px;
    width: 1200px;
  }

  .contacts-item-email {
    order: 1;
  }
}
