.contest__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $text-header;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contest__title {
    font-size: 50px;
    line-height: 68px;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .contest__title {
    width: 747px;
  }

  .contest-title-win {
    width: 747px;
  }
}
