.contacts {
  margin-top: 47px;
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $text-base;
  text-align: center;
}

.contacts__title-connection {
  margin-bottom: 45px;
}

.contacts-item {
  margin-bottom: 31px;
}

.contacts__phone,
.contacts__email,
.contacts__adress {
  // margin: 0;
  // padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $text-contacts;
}

.contacts__adress {
  margin: 0;
  padding: 0;
}

.contacts__map {
  width: 100%;
  position: relative;
}

.contacts__map::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 0;
  right: 0;
  height: 123px;
  background-image: url("../img/footer/triangle-white-footer.svg");
  background-size: 1200px 70%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 54px;
  }

  // .contacts__map::before {

  // }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 50px;
    line-height: 68px;
  }
}
