.filter {
  background-color: $background-gallery;
  width: 100%;
}

.filter__tools {
  display: flex;
}

.filter__tools-instrument {
  display: flex;
  justify-content: space-between;
}

.filter__button-post {
  border: 3px solid $button-rose;
  box-sizing: border-box;
  border-radius: 30px;
  width: 280px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $button-rose;
  text-align: center;
}

.filter__button-cancel {
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  width: 280px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #283645;
  opacity: 0.1;
  text-align: center;
}

.filter__tools-button {
  border: none;
}

.filter-item {
  border: none;
}

.range-filter {
  position: relative;
}

.scale {
  width: 240px;
  height: 2px;
  background: #283645;
}

.bar {
  width: 65%;
  margin-left: 0%;
}

.toggle {
  position: absolute;
  top: -7px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 2px solid #d22856;
  box-sizing: border-box;
  border-radius: 50%;
  left: 80%;
}

@media (min-width: $tablet-width) {
  .filter__tools {
    display: flex;
    flex-direction: column;
  }
}
