.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: -19px;
}

.form__fieldset {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
  position: relative;
}

.form input:hover {
  border-color: $input-hover;
}

.form input:active,
.form input:focus {
  outline: none;
  border-color: $input-active;
}

//Form__name

.form__name {
  border: none;
  margin-bottom: 25px;
}

.form__name-wrap {
  margin-bottom: 17px;
}

.form__label {
  display: block;
  padding-left: 23px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $text-base-pink;
  text-transform: uppercase;
  text-align: left;
}

.form__input {
  height: 63px;
  padding-left: 20px;
  padding-bottom: 16px;
  padding-top: 17px;
  // margin-bottom: 17px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: left;
  color: $text-base-dark-blue;
  border: 2px solid $form-border;
  border-radius: 1px;
  width: 100%;
  box-sizing: border-box;
}

//  Checkbox

.form__achievement-wrapper {
  background-color: $background-fieldset;
  width: 100%;
  padding-top: 59px;
}

.form__achievement {
  border: none;
}

.form__achievement-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $form-title;
  text-transform: uppercase;
  padding-top: 39px;
  padding-bottom: 44px;
  width: 218px;
  background-color: $background-fieldset;
}

.form__achievement-list {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  text-align: left;
}

.form__achievement-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $text-base-dark-blue;
  padding-bottom: 51px;
  list-style: none;
}

.form__achievement-label-checkbox {
  position: relative;
  padding-left: 59px;
  cursor: pointer;
}

.form__achievement-label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: 2px solid $border-checkbox;
  border-radius: 2px;
  background-color: $background-color-checkbox;
}

.form__achievement-label-checkbox::after {
  content: none;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 22px;
  height: 16px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__achievement-checkbox:checked + .form__achievement-label-checkbox::after {
  content: "";
}

.form__achievement-label-checkbox:hover::before {
  border-color: $input-hover;
}

.form__achievement-label-checkbox:active::before {
  border-color: $input-active;
}

// Phone and email

.form__contacts-list {
  padding-left: 0;
  margin: 0;
}

.form__contacts {
  border: none;
  padding-top: 31px;
  padding-bottom: 25px;
}

.form__contacts-item {
  list-style: none;
}

.form__contacts-label {
  padding-top: 0;
  padding-left: 24px;
  padding-bottom: 5px;
  text-align-last: left;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $form-title;
  text-transform: uppercase;
}

.form__contacts-input {
  width: 100%;
  margin-bottom: 17px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 20px;
  height: 63px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $text-base-dark-blue;
  border: 2px solid $form-border;
  border-radius: 1px;
  box-sizing: border-box;
}

// App

.form__application-list {
  padding-left: 0;
  margin: 0;
  margin-top: 55px;
}

.form__application-form {
  border: none;
}

.form__application-wrapper {
  background-color: $background-fieldset;
  padding-top: 59px;
  padding-bottom: 46px;
}

.form__application-legend {
  width: 180px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $form-title;
  text-transform: uppercase;
}

.form__application-list-item {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $text-base-dark-blue;
  list-style: none;
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__application-label {
  position: relative;
  padding-left: 70px;
  cursor: pointer;
}

.form__application-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 37px;
  height: 37px;
  border: 2px solid $border-checkbox;
  border-radius: 50%;
  background-color: $background-color-checkbox;
}

.form__application-label::after {
  content: none;
  position: absolute;
  left: 13px;
  top: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d22856;
}

.form__application-checkbox:checked + .form__application-label::after {
  content: "";
}

.form__application-label:hover::before {
  border-color: $input-hover;
}

.form__application-label:active::before {
  border-color: $input-active;
}

// Feedback

.form__feedback {
  border: none;
  margin-top: 50px;
}

.form__feedback-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $form-title;
  display: block;
  margin-bottom: 16px;
}

.form__feedback-textarea {
  width: 100%;
  padding-top: 16px;
  padding-right: 25px;
  padding-left: 20px;
  margin-bottom: 4px;
  height: 197px;
  border: 2px solid $form-border;
  border-radius: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-base-dark-blue;
  box-sizing: border-box;
  margin-top: 20px;
}

.form__feedback-textarea:hover {
  border-color: $input-hover;
}

.form__feedback-textarea:active,
.form__feedback-textarea:focus {
  outline: none;
  border-color: $input-active;
}

.form__feedback-textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $text-base-dark-blue;
}

.form__helper-text {
  display: block;
  // padding-top: 46px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $text-base-dark-blue;
  text-transform: uppercase;
}

.form__helper-text-desktop {
  display: none;
}

//Button

.form__button-wrap {
  margin-top: 47px;
  // margin-bottom: -9px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 59px 100px;
  width: 100%;

  align-items: center;
}

.form__button {
  background-color: $button-green;
  border: 2px solid $button-green;
  border-radius: 1px;
  align-items: center;
  text-transform: uppercase;
  color: $button-text-color;
  width: 100%;
  padding: 15px 44px 14px 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  // margin-bottom: 34px;
  cursor: pointer;
}

.form__button:hover {
  background-color: $button-green-hover;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__button:disabled {
  background-color: $button-green-disabled;
}

.form__helper-simbol {
  color: $text-base-pink;
  font-size: 14px;
  line-height: 30px;
}

.form__legend {
  display: block;
  box-sizing: border-box;
  width: 100%;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
}

.form__contacts-legend {
  display: none;
}

//Media

@media (min-width: $tablet-width) {
  .form__fieldset {
    width: 616px;
  }

  .form {
    margin-bottom: 51px;
  }

  .form__name {
    width: 659px;
    order: 1;
    margin-bottom: -33px;
  }

  .form__label {
    padding-right: 18px;
    padding-top: 17px;
    padding-left: 0;
  }

  .form__name-wrap {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 52px;
    }
  }

  .form__application-form {
    margin-bottom: -12px;
    width: 620px;
    border: 2px solid $form-border;
    border-radius: 1px;
  }

  .form__application-list {
    padding-top: 1px;
    padding-bottom: 60px;
  }

  .form__application-label {
    padding-left: 99px;
  }

  .form__application-label::before {
    left: 38px;
    top: -8px;
  }

  .form__application-label::after {
    left: 51px;
    top: 5px;
  }

  .form__achievement-wrapper {
    background-color: transparent;
    order: 4;
    padding-top: 69px;
  }

  .form__achievement {
    border: 2px solid $form-border;
    border-radius: 1px;
    margin-bottom: 21px;
    width: 620px;
  }

  .form__achievement-list {
    margin-top: 54px;
    width: 575px;
  }

  .form__achievement-legend {
    line-height: 30px;
    width: 615px;
    padding-top: 48px;
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 40px;
  }

  .form__achievement-label-checkbox {
    padding-left: 97px;
  }

  .form__achievement-label-checkbox::before {
    left: 38px;
  }

  .form__achievement-label-checkbox::after {
    left: 47px;
    top: 4px;
  }

  .form__achievement-list-item {
    padding-bottom: 52px;
  }

  .form__contacts {
    width: 620px;
    border: 2px solid $form-border;
    border-radius: 1px;
    order: 3;
    margin-top: 31px;
    padding-bottom: 0;
    padding-top: 45px;
  }

  .form__contacts-legend {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $form-title;
    padding-top: 8px;
    padding-left: 31px;
    padding-right: 31px;
  }

  .form__contacts-label {
    order: 1;
    padding-left: 20px;
  }

  .form__contacts-list {
    margin: 0;
    padding: 0;
    padding-left: 37px;
    padding-right: 37px;
  }

  .form__contacts-input {
    margin-bottom: 10px;
    padding-left: 21px;
  }

  .form__contacts-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
  }

  .form__contacts-item::after {
    content: "";
    position: absolute;
    top: 3;
    right: 0;
    width: 65px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .form__contacts-phone::after {
    background-image: url("../img/contacts-phone.svg");
  }

  .form__contacts-email::after {
    background-image: url("../img/contacts-message.svg");
  }

  .form__application-wrapper {
    background-color: transparent;
    order: 2;
    padding-top: 81px;
  }

  .form__feedback {
    width: 620px;
    border: 2px solid $form-border;
    border-radius: 1px;
    order: 5;
    padding: 47px 60px 42px 60px;
  }

  .form__feedback-label {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: -11px;
  }

  .form__feedback-textarea {
    padding-top: 16px;
    padding-left: 18px;
    padding-bottom: 5px;
    margin-top: -7px;
  }

  .form__feedback-textarea::placeholder {
    width: 600px;
  }

  .form__button-wrap {
    order: 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 59px;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
  }

  .form__button {
    width: 300px;
  }

  .form__helper-text {
    justify-self: end;
  }

  .form__legend-text {
    background-color: $text-base-white;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
    // margin-top: -56px;
    margin-bottom: -2px;
  }

  .form__name {
    width: 435px;
    margin: 0;
    padding: 0;
    padding-top: 4px;
  }

  .form__label {
    padding-right: 18px;
    padding-left: -1px;
    padding-top: 18px;
  }

  .form__input {
    // margin-bottom: 54px;
    padding-right: 10px;
  }

  .form__contacts {
    width: 100%;
    margin-top: 20px;
  }

  .form__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .form__contacts-item {
    width: 371px;
    margin-bottom: 0;
  }

  .form__contacts-input {
    margin-bottom: 6px;
    padding-top: 0;
    padding-left: 19px;
    padding-bottom: 2px;
  }

  .form__contacts-label {
    padding-bottom: 16px;
  }

  .form__contacts-item::after {
    top: 1px;
    right: -1px;
  }

  .form__application-form {
    width: 432px;
    height: 100%;
  }

  .form__application-wrapper {
    width: 435px;
    padding-top: 0;
    height: 100%;
    margin-bottom: 10px;
  }

  .form__application-label {
    padding-left: 111px;
  }

  .form__application-label::before {
    left: 50px;
    top: -8px;
  }

  .form__application-label::after {
    left: 63px;
    top: 5px;
  }

  .form__achievement {
    width: 100%;
    margin-bottom: 19px;
    padding-left: 58px;
    padding-right: 8px;
    padding-top: 54px;
  }

  .form__achievement-legend {
    padding-left: 85px;
    padding-right: 76px;
    width: 926px;
  }

  .form__achievement-wrapper {
    padding-top: 66px;
  }

  .form__achievement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    padding-top: 1px;
    padding-bottom: 6px;
    margin-top: 0;
  }

  .form__achievement-list-item {
    margin: 0;
    padding: 0;
    width: 260px;
    padding-bottom: 53px;
  }

  .form__achievement-list-item:nth-child(1) {
    order: 1;
  }

  .form__achievement-list-item:nth-child(2) {
    order: 4;
  }

  .form__achievement-list-item:nth-child(3) {
    margin-left: 18px;
    order: 2;
  }

  .form__achievement-list-item:nth-child(4) {
    margin-left: 18px;
    order: 5;
  }

  .form__achievement-list-item:nth-child(5) {
    order: 3;
  }

  .form__achievement-list-item:nth-child(6) {
    order: 6;
  }

  .form__achievement-checkbox {
    margin: 0;
    padding: 0;
  }

  .form__achievement-label-checkbox {
    margin: 0;
    padding: 0;
    padding-left: 60px;
  }

  .form__achievement-label-checkbox::before {
    left: 0;
  }

  .form__achievement-label-checkbox::after {
    left: 9px;
  }

  .form__feedback {
    width: 100%;
    padding-top: 47px;
    padding-bottom: 37px;
    padding-left: 59px;
    padding-right: 59px;
  }

  .form__feedback-textarea {
    padding-top: 10px;
    padding-left: 19px;
    height: 125px;
  }

  .form__helper-text {
    margin-right: 0;
  }

  .form__helper-text-desktop {
    display: inline-block;
  }

  .form__button-wrap {
    margin-top: 64px;
    padding: 0;
  }
}

.form__legend-text {
  display: inline-flex;
  max-width: 90%;

  &::before {
    content: "";
    margin-right: 30px;
  }

  &::after {
    content: "";
    margin-left: 30px;
  }

  .form__helper-text {
    margin-right: 0;
  }

  .form__contacts-legend {
    display: block;
  }
}
