.gallery__title,
.gallery__headline-title {
  margin: 0 auto;
  padding: 0;
  padding-top: 44px;
  padding-right: 2px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $text-base-dark-blue;
  max-width: 253px;
}

.gallery__headline-title {
  padding-top: 23px;
  margin-bottom: -14px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__list-authorinfo {
  margin: 0;
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 17px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $background-blockquote;
  box-sizing: border-box;
  width: 280px;
}

.gallery__list-button-wrap {
  display: flex;
  align-items: baseline;
}

.gallery__list-button-heart {
  margin: 0;
  padding-right: 18px;
  border: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-color-like;
}

.gallery__headline {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $text-base-dark-blue;
  margin-bottom: 42px;
}

.gallery__title-text {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.gallery__list-image {
  width: 100%;
  display: block;
  height: auto;
}

.gallery__list-author-name {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.gallery__list-time {
  padding-left: 3px;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-base-dark-blue;
}

.gallery__list-text {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  padding-bottom: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.gallery__author-wrap {
  display: flex;
}

@media (min-width: $tablet-width) {
  .gallery__title {
    padding-top: 92px;
    padding-bottom: 26px;
    font-size: 18px;
    line-height: 30px;
    min-width: 570px;
  }

  .gallery__title-text {
    padding-bottom: 78px;
  }

  .gallery__list {
    margin-top: 50px;
  }

  .gallery__list-authorinfo {
    margin-bottom: 27px;
    justify-content: space-between;
    padding: 33px 0 0 19px;
  }

  .gallery__list-author-info {
    margin-left: 5px;
    min-height: 155px;
  }

  .gallery__author-wrap {
    order: -1;
    margin-bottom: -14px;
  }

  .gallery__list-item {
    width: 290px;
  }

  .gallery__list-text {
    padding-top: 14px;
    padding-bottom: 27px;
  }

  .gallery__headline {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 69px;
  }

  .gallery__headline-title {
    padding: 48px 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: $text-base-dark-blue;
    margin-bottom: 0;
  }

  .gallery__headline-title-text {
    margin: 0;
    padding: 0;
  }

  .gallery__list-button-wrap {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .gallery__list-button-wrap-panorama {
    justify-content: flex-start;
    flex-direction: row-reverse;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    min-width: 640px;
    padding-bottom: 38px;
  }

  .gallery__title-text {
    padding-bottom: 75px;
  }

  .gallery__list-text {
    padding-bottom: 13px;
  }

  .gallery__list-authorinfo {
    padding: 37px 2px 19px 15px;
    margin-bottom: 55px;
  }

  .gallery__headline-title {
    padding-top: 17px;
  }

  .gallery__link {
    width: 300px;
    height: 400px;
  }
}
