.gallery__title,
.gallery__headline-title {
  margin: 0 auto;
  padding: 0;
  padding-top: 44px;
  padding-right: 2px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $text-base-dark-blue;
  max-width: 253px;
}

.gallery__headline-title {
  padding-top: 23px;
  margin-bottom: -14px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__list-item {
  list-style: none;
}

.gallery__list-authorinfo {
  margin: 0;
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 17px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $background-blockquote;
  box-sizing: border-box;
  width: 280px;
}

.gallery__list-button-wrap {
  display: flex;
  align-items: baseline;
  margin-top: 0;
}

.gallery__list-button-heart {
  margin: 0;
  padding-right: 18px;
  border: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-color-like;
  cursor: pointer;
}

.gallery__headline {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: $text-base-dark-blue;
  margin-bottom: 42px;
}

.gallery__title-text {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.gallery__list-image {
  width: 100%;
  display: block;
  height: auto;
}

.gallery__list-author-name {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.gallery__list-time {
  padding-left: 3px;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-base-dark-blue;
}

.gallery__list-text {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  padding-bottom: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.gallery__author-wrap {
  display: flex;
}

.gallery__list-button-wrap-panorama {
  display: flex;
  align-items: baseline;
  margin-top: 11px;
}

.gallery__link {
  width: 280px;
  height: 180px;
}

@media (min-width: $tablet-width) {
  .gallery__title {
    padding-top: 92px;
    padding-bottom: 26px;
    font-size: 18px;
    line-height: 30px;
    min-width: 570px;
  }

  .gallery__title-text {
    padding-bottom: 78px;
  }

  .gallery__list {
    margin-top: 50px;
  }

  .gallery__list-authorinfo {
    margin-bottom: 19px;
    justify-content: space-between;
    padding: 23px 0 0 19px;
    width: 300px;
  }

  .gallery__list-author-info {
    padding-left: 24px;
    min-height: 155px;
  }

  .gallery__author-wrap {
    order: -1;
    margin-bottom: 1px;
  }

  .gallery__list-item {
    width: 300px;
  }

  .gallery__list-text {
    padding-bottom: 0;
    min-height: 48px;
    width: 232px;
  }

  .gallery__headline {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 70px;
  }

  .gallery__headline-title {
    padding: 45px 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: $text-base-dark-blue;
    margin-bottom: 0;
  }

  .gallery__headline-title-text {
    margin: 0;
    padding: 0;
  }

  .gallery__list-button-wrap {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 12px;
    margin-bottom: 22px;
    margin-left: 6px;
  }

  .gallery__list-button-wrap-panorama {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row-reverse;
    order: -1;
    margin-top: 0;
  }

  .gallery__list-button-heart {
    padding-right: 30px;
  }

  .gallery__link {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    margin-top: 47px;
  }

  .gallery__list-item {
    height: 555px;
    margin-bottom: 54px;
  }

  .gallery__title {
    font-size: 18px;
    line-height: 30px;
    min-width: 640px;
    padding-bottom: 38px;
  }

  .gallery__title-text {
    padding-bottom: 75px;
  }

  .gallery__list-text {
    padding-bottom: 1px;
    height: 40px;
  }

  .gallery__list-authorinfo {
    padding: 24px 12px 12px 21px;
    margin-bottom: 7px;
  }

  .gallery__list-button-wrap {
    margin-top: 10px;
    margin-bottom: 9px;
  }

  .gallery__list-button-heart {
    padding-right: 19px;
  }

  .gallery__list-button-wrap-panorama {
    order: 0;
  }

  .gallery__headline {
    margin-bottom: 67px;
  }

  .gallery__headline-title {
    padding-top: 4px;
  }

  .gallery__link {
    width: 300px;
    height: 400px;
  }
}
