.main-nav__item a {
  color: $text-base-white;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-nav__list {
  margin: 0;
  padding-left: 0;
  border-top: 1px solid $border-nav;
  line-height: 32px;
  background-color: $background-nav;
}

.main-nav__link:hover {
  color: $text-hover;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__item {
  position: relative;
  border-top: 1px solid $main-nav-border-top;
  border-bottom: 1px solid $main-nav-border-bottom;
  text-align: center;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__wrapper {
  padding: 21px 20px;
}

.main-nav__toggle {
  position: relative;
  display: none;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;
    width: 28px;
    height: 4px;
    background-color: $text-base-white;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.main-nav__toggle--js {
  display: block;
}

.main-nav__toggle--off {
  display: block;
  // background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    width: 50px;
    height: 4px;
    background-color: $text-base-white;
    box-shadow: 0 10px 0 0 $text-base-white, 0 20px 0 0 $text-base-white;
  }

  &::after {
    content: none;
  }
}

// @media (min-width: $tablet-width) {
//   .main-nav__item {
//     padding-top: 1px;
//   }
// }

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    border-top: 0;
    background-color: transparent;
    box-sizing: border-box;
    margin-top: 35px;
    width: 622px;
  }

  .main-nav__item {
    margin: 10px 0;
    padding: 0;
    border: 0;
  }

  .main-nav__item--active {
    .main-nav__link {
      border-bottom: 1px solid #ffffff;
      padding-bottom: 11px;
    }
  }

  .main-nav__item a {
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;
  }

  .main-nav__item:not(:last-child) a {
    margin-right: 80px;
  }

  .main-nav__link {
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
