.main-nav__item a {
  color: $text-header;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}
