// .main-nav {
//   height: 325px;
// }

.main-nav__item a {
  color: $text-header;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-nav__list {
  margin: 0;
  padding-left: 0;
  border-top: 1px solid $header-border-bottom;
  line-height: 32px;
  background-color: $background-base;
}

.main-nav__item {
  position: relative;
  border-top: 1px solid $header-line;
  border-bottom: 1px solid $header-border-bottom;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__wrapper {
  // display: flex;
  // justify-content: space-between;
  padding: 21px 20px;
}

.main-nav__toggle {
  position: relative;
  display: none;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  // background-color: transparent;
}

@media (min-width: $tablet-width) {
  // .main-nav__logo-wrapper {
  //   padding-top: 27px;
  //   padding-bottom: 43px;
  // }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // width: 622px;
    border-top: 0;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
    padding-left: 173px;
    padding-top: 35px;
  }

  .main-nav__item {
    margin: 10px 0;
    padding: 0;
    border: 0;
  }

  .main-nav__item a {
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;
    padding-right: 79px;
  }

  .main-nav__link {
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
