.page-header {
  position: relative;
  background-image: url("../img/header/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 767px;
  color: $text-header;
  margin: 0 auto;
  background-color: $app-download;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
  background-color: $background-base;
}

.page-header__wrap {
  background: $header-wrap;
  opacity: 0.3;
  height: 66px;
}

.page-header__main-nav {
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  width: 74px;
  height: 23px;
}

.page-header__logo-mobile {
  width: 74px;
  height: 23px;
}

.page-header__logo-tablet {
  width: 145px;
  height: 40px;
  display: none;
}

.page-header__logo-desktop {
  width: 147px;
  height: 40px;
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../img/header/back-tablet.jpg");
    background-size: 100% 1010px;
  }

  .page-header__logo-wrapper {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/header/back-desktop.jpg");
    background-size: 100% 1010px;
  }

  .page-header__main-nav-wrap {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__main-nav {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
    background-color: transparent;
    // background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
}
