.page-footer {
  padding-top: 57px;
  padding-bottom: 51px;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  // display: flex;
}

.page-footer__social {
  margin-bottom: 41px;
}

.page-footer__copyright__text {
  margin-right: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

// @media (min-width: $tablet-width) {

// }
