.page-header {
  position: relative;
  background-image: url("../img/header/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 259px;
  background-size: 320px 462px;
  color: $text-base-white;
  margin: 0 auto;
  background-color: $background-app;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header/back-mobile@2x.jpg");
  }
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 23px 20px;
  background-color: $background-nav;
}

.page-header__main-nav {
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  width: 74px;
  height: 23px;
}

.page-header__logo-tablet {
  width: 145px;
  height: 40px;
  display: none;
}

.page-header__logo-desktop {
  width: 147px;
  height: 40px;
  display: none;
}

.page-header__logo-icon {
  fill: $text-base-white;
}

.page-header__logo-icon:hover {
  fill: $text-hover;
}

.page-header__logo-icon:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../img/header/back-tablet@1x.jpg");
    background-size: 100% 1010px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/back-tablet@2x.jpg");
    }
  }

  .page-header__logo-wrapper {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .page-header__logo {
    height: 40px;
    width: 145px;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/header/back-desktop@1x.jpg");
    background-size: 100% 1010px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/back-desktop@2x.jpg");
    }
  }

  .page-header__main-nav-wrap {
    background-color: $background-header;
  }

  .page-header__main-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
    background-color: transparent;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
}
