.page-footer {
  display: flex;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-base;
}
