.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page-header__logo-tablet,
.page-header__logo-desktope {
  display: none;
}

// .page-header__logo-mobile,
// .page-header__logo-tablet {
//   background-color: $background-base;
//   box-shadow: 0 1px 0 $header-wrap, inset 0 1px 0 $header-line;
//   width: 100%;
//   height: 69px;
// }

.page-header__logo_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
  background-color: $background-base;
}

@media (min-width: $tablet-width) {
  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }

  .page-header__logo-wrapper {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
}
