.panorama {
  width: 100%;
}

.panorama__image {
  width: 100%;
}

.panorama__of-day {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: $text-header;
  background-color: $background-panorama;
  text-align: center;
  width: 140px;
  height: 36px;
}

.panorama__post-item {
  background-color: #f2f2f2;
  width: 280px;
  height: 192px;
}

.panorama__author-wrap,
.gallery__author-wrap {
  display: flex;
}

.panorama__author-name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $text-base;
}

.panorama__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $text-base;
  text-transform: uppercase;
}

.panorama__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-base;
  max-width: 253px;
}

.panorama__heart {
  color: $text-contacts;
  text-transform: uppercase;
  border: none;
}

@media (min-width: $tablet-width) {
  .panorama__post-item {
    width: 620px;
    height: 121px;
  }

  .panorama__text {
    max-width: 520px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__post-item {
    width: 940px;
    height: 96px;
  }

  .panorama__text {
    max-width: 874px;
  }
}
