// .panorama {
//   width: 100%;
// }

.panorama__link {
  width: 320px;
  height: 137px;
}

.panorama__image {
  position: relative;
  width: 100%;
  display: block;
}

.panorama__of-day {
  position: absolute;
  margin: 0;
  padding: 6px 19px 6px 19px;
  z-index: 1;
  left: 50%;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-base-white;
  background-color: $background-pink;
  text-align: center;
}

.panorama__author-wrap {
  display: flex;
}

.panorama__author-name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.panorama__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $text-base-dark-blue;
  text-transform: uppercase;
}

.panorama__text {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
  width: 256px;
}

.panorama__post-item {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  background-color: $background-blockquote;
  box-sizing: border-box;
  width: 280px;
}

.panorama__heart {
  color: $text-color-like;
  text-transform: uppercase;
  border: none;
}

@media (min-width: $tablet-width) {
  .panorama__link {
    width: 660px;
    height: 509px;
  }

  .panorama__tablet-no-br {
    display: none;
  }

  .panorama__author-wrap {
    margin-right: 304px;
  }

  .panorama__of-day {
    left: 76%;
    margin-top: 57px;
  }

  .panorama__post-item {
    width: 646px;
    display: flex;
    flex-flow: row wrap;
    padding: 23px 24px 24px;
  }

  .panorama__list-button-heart {
    padding-right: 10px;
  }

  .panorama__text {
    width: 520px;
    padding: 0;
    padding-left: 6px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__link {
    width: 1200px;
    height: 506px;
  }

  .panorama__post-item {
    width: 940px;
    padding: 23px 13px 0 21px;
  }

  .panorama__author-wrap {
    margin-right: 624px;
  }

  .panorama__of-day {
    left: 930px;
    margin-top: 54px;
  }

  .panorama__text {
    width: 874px;
    padding-bottom: 1px;
    height: 24px;
    order: 2;
  }
}
