.panorama {
  width: 100%;
}

.panorama__link {
  width: 320px;
  height: 137px;
}

.panorama__image {
  position: relative;
  width: 100%;
  display: block;
}

.panorama__of-day {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  left: 50%;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: $text-base-white;
  background-color: $background-pink;
  text-align: center;
  width: 140px;
  height: 36px;
}

.panorama__author-wrap {
  display: flex;
}

.panorama__author-name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
}

.panorama__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $text-base-dark-blue;
  text-transform: uppercase;
}

.panorama__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-base-dark-blue;
  width: 253px;
}

.panorama__heart {
  color: $text-color-like;
  text-transform: uppercase;
  border: none;
}

.gallery__link {
  width: 280px;
  height: 180px;
}

@media (min-width: $tablet-width) {
  .panorama__link {
    width: 660px;
    height: 509px;
  }

  .panorama__post-item {
    width: 620px;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 32px 30px;
  }

  .panorama__text {
    width: 520px;
  }

  .gallery__link {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__link {
    width: 1200px;
    height: 506px;
  }

  .panorama__post-item {
    width: 940px;
  }

  .panorama__text {
    width: 874px;
  }

  .gallery__link {
    width: 300px;
    height: 400px;
  }
}
