// .photo {
//   // height: 173px;
// }

.photo__title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 78px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $text-base-white;
}

@media (min-width: $tablet-width) {
  .photo__title {
    padding-top: 64px;
    padding-bottom: 128px;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .photo__title {
    padding-top: 59px;
    padding-bottom: 89px;
    font-size: 50px;
    line-height: 68px;
    max-width: 358px;
    text-align: center;
    margin: 0 auto;
  }
}
