// .photo {
//   // height: 173px;
// }

.photo__title {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 84px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $text-header;
}

@media (min-width: $tablet-width) {
  .photo__title {
    padding-top: 81px;
    padding-bottom: 143px;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .photo__title {
    padding-top: 74px;
    padding-bottom: 104px;
    font-size: 50px;
    line-height: 68px;
    max-width: 358px;
    text-align: center;
    margin: 0 auto;
  }
}
