.photo {
  height: 173px;
}

// .photo__wrapper {
//   margin: 0 auto;
//   padding: 0 20px;
// }

.photo__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $text-header;
}

@media (min-width: $tablet-width) {
  .photo__title {
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .photo__title {
    font-size: 50px;
    line-height: 68px;
    max-width: 358px;
    text-align: center;
    margin: 0 auto;
  }
}
