.price {
  background-color: $background-advantages;
  padding-top: 129px;
  padding-bottom: 100px;
}

.price__toggles {
  text-align: center;
}

.price__toggle {
  border: none;
  border-radius: 50%;
  background: #283645;
  opacity: 0.3;
  width: 6px;
  height: 6px;
}

.price__toggle--current {
  background: #ffffff;
  border: 3px solid #283645;
  opacity: 1;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.price__slider {
  overflow: hidden;
  line-height: 30px;
  // text-transform: uppercase;
}
