.price {
  background-image: url("../img/advantages/grey-background.jpg");
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 129px;
  padding-bottom: 100px;
}

// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }
