.price {
  background-image: url("../img/advantages/grey-background.jpg");
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 129px;
  padding-bottom: 100px;
}

body {
  margin: 0;
  min-width: 320px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.price__slider {
  overflow: hidden;
  line-height: 30px;
  text-transform: uppercase;
}

.table-price {
  width: 834px;
  border-spacing: 0;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.table-price__header {
  border-right: 2px solid $table-grid;
  font-size: 18px;
  color: $text-table-title;
  background-color: $table-background;
}

.table-price__header:first-child {
  display: none;
  border-right: 0;
  border-bottom: 2px solid $table-grid;
  background-color: transparent;
}

.table-price__license-type,
.table-price__license-price {
  display: block;
}

.table-price__header:last-child {
  border-right-color: $table-background;
}

.table-price__cell {
  border-right: 2px solid $table-grid;
  border-bottom: 2px solid $table-grid;
  background-color: #ffffff;
}

.table-price__cell:first-child {
  display: none;
  border-left: 2px solid $table-grid;
}

.table-price__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-price__feature::before {
  content: attr(data-feature-name);
}

.table-price__feature-value {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.table-price__feature-value--true {
  width: 31px;
  height: 21px;
  background-image: url("../../img/table/icon-yes.svg");
}

.table-price__feature-value--false {
  width: 27px;
  height: 27px;
  background-image: url("../../img/table/icon-no.svg");
}

@media (min-width: $tablet-width) {
  .content-wrapper {
    width: 660px;
  }

  .table-price {
    width: 100%;
  }

  .table-price__header:first-child {
    display: table-cell;
  }

  .table-price__cell {
    width: 25%;
  }

  .table-price__cell:first-child {
    display: table-cell;
  }

  .table-price__feature {
    justify-content: center;
  }

  .table-price__feature::before {
    content: "";
  }
}

@media (min-width: $desktop-width) {
  .content-wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
