.price {
  background-image: linear-gradient(176deg, #ffffff 9%, #f2f2f2 9%);
  padding-top: 128px;
  padding-bottom: 46px;
}

.price__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
}

.price__toggles {
  padding-top: 40px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
}

.price__toggle {
  padding: 0;
  margin-right: 17px;
  border: none;
  box-sizing: content-box;
  border-radius: 50%;
  background: $background-price-toggle;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  cursor: pointer;
}

.price__toggle--current {
  background: $background-toggle;
  border: 3px solid $background-price-toggle;
  opacity: 1;
}

.price__toggle:hover {
  opacity: 0.6;
}

.price__toggle:active {
  opacity: 0.1;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.price__slider {
  overflow: hidden;
  line-height: 30px;
  // text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .price {
    background-image: linear-gradient(176deg, #ffffff 10%, #f2f2f2 10%);
    padding-top: 95px;
    padding-bottom: 16px;
  }

  .price__wrapper {
    width: 660px;
    padding: 0 20px;
  }

  .price__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 154px;
    padding-bottom: 44px;
    background-image: linear-gradient(175deg, #ffffff 16%, #f2f2f2 16%);
  }

  .price__wrapper {
    width: 960px;
    padding: 0 10px;
  }
}
