.price {
  background-color: $background-price;
  padding-top: 129px;
  padding-bottom: 100px;
}

.price__toggles {
  text-align: center;
  padding-top: 45px;
}

.price__toggle {
  padding: 0;
  margin-right: 19px;
  border: none;
  box-sizing: content-box;
  border-radius: 50%;
  background: $background-price-toggle;
  opacity: 0.3;
  width: 6px;
  height: 6px;
}

.price__toggle--current {
  background: $background-toggle;
  border: 3px solid $background-price-toggle;
  opacity: 1;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.price__slider {
  overflow: hidden;
  line-height: 30px;
  // text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .price__toggle {
    display: none;
  }
}
