.reviews__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  // text-align: center;
  color: $text-title;
}

.reviews__list,
.slider__list {
  text-align: center;
}

.reviews__toggles {
  text-align: center;
}

.reviews__work {
  display: none;
}

.reviews__text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  // text-align: center;
  color: $text-base;
}

.reviews__author-block {
  // text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews__work {
    display: block;
  }

  .reviews__author-block {
    order: 2;
  }
}

// @media (min-width: $desktop-width) {
//   .reviews__work {
//     display: block;
//   }

//   .reviews__author-block {
//     order: 2;
//   }
// }
