.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 50px;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
