.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  margin: 0;
  padding: 0;
  padding-left: 7px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 38px;
}

.social__item {
  margin: 0 5px 0 3px;
}

.social__link {
  display: flex;
  width: 48px;
  height: 48px;
  border: 3px solid $border-social;
  border-radius: 50%;
  color: $text-base-pink;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link-icon {
  display: block;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .social__list {
    margin: 0;
    padding: 0;
    padding-left: 7px;
  }

  .social__item {
    margin: 0 5px 0 3px;
  }
}
