.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  margin: 0;
  padding: 0;
  margin-bottom: 53px;
  display: flex;
}

.social__item {
  margin-right: 14px;
}

.social__link {
  display: flex;
  width: 48px;
  height: 48px;
  border: 3px solid $border-social;
  border-radius: 50%;
  color: $text-base-pink;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link:hover {
  border: 3px solid $text-base-dark-blue;
}

.social__link:active {
  opacity: 0.3;
}

.social__link-image {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
