.table-price {
  width: 834px;
  border-spacing: 0;
}

.table-price__header {
  padding-top: 11px;
  padding-bottom: 26px;
  border-right: 2px solid $table-grid-border;
  color: $text-base-white;
  background-color: $table-background;
}

.table-price__header:first-child {
  display: none;
  border-right: 0;
  border-bottom: 2px solid $table-grid-border;
  background-color: transparent;
}

// .table-price__license-type {
//   padding-bottom: 3px;
// }

.table-price__license-type,
.table-price__license-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: block;
  text-transform: uppercase;
}

.table-price__license-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.table-price__header:last-child {
  border-right-color: $table-background;
}

.table-price__cell {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 21px;
  border-right: 2px solid $table-grid-border;
  border-bottom: 2px solid $table-grid-border;
  background-color: $table-background-base;
}

.table-price__cell:first-child {
  display: none;
  border-left: 2px solid $table-grid-border;
}

.table-price__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-price__feature::before {
  content: attr(data-feature-name);
}

.table-price__feature-value {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.table-price__feature-value--true {
  width: 31px;
  height: 21px;
  background-image: url("../img/table/icon-yes.svg");
}

.table-price__feature-value--false {
  width: 27px;
  height: 27px;
  background-image: url("../img/table/icon-no.svg");
}

.table-price__header--hit {
  background-image: url("../img/table/table-hit-mobile.svg");
  background-size: 74px 74px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .table-price {
    width: 100%;
  }

  .table-price__header {
    padding-bottom: 8px;
  }

  .table-price__header:first-child {
    display: table-cell;
  }

  .table-price__cell {
    width: 25%;
    text-transform: unset;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 14px;
    line-height: 30px;
  }

  .table-price__cell:first-child {
    display: table-cell;
  }

  .table-price__feature {
    justify-content: center;
  }

  .table-price__feature::before {
    content: "";
  }

  .table-price__header--hit {
    background-image: url("../img/table/table-hit-tablet.svg");
    background-size: 61px 61px;
    background-position: -6 -10;
  }
}

@media (min-width: $desktop-width) {
  .table-price {
    width: 102%;
  }

  .table-price__header {
    padding-bottom: 22px;
  }

  .table-price__license-type {
    font-size: 18px;
    padding-top: 5px;
  }

  .table-price__license-price {
    font-size: 24px;
  }

  .table-price__cell {
    padding-bottom: 22px;
    padding-right: 5px;
    font-size: 18px;
  }

  .table-price__header--hit {
    background-image: url("../img/table/table-hit-desktop.svg");
    background-size: 74px 74px;
    background-position: 0 0;
  }
}
