img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 660px;
    padding: 0 130px;
  }
}
