//Text
$text-header: #ffffff;
$text-base: #283645;
$text-title: #000000;
$text-table-title: #ffffff;
$text-contacts: #d22856;
$text-form: #d22856;

//Elements
$button-color: #ffffff;
$header-wrap: #000000;
$app-download: #1d2631;
$table-background: #283645;
$table-grid: #e5e5e5;
$form-wrap: #f2f2f2;
$button-green: #2aab6d;
$form-border: #e5e5e5;
$background-panorama: #d22856;
$background-gallery: #f2f2f2;
$button-rose: #d22856;
