// Text
$text-base-white: #ffffff;
$text-base-dark-blue: #283645;
$text-base-black: #000000;
$text-base-pink: #d22856;

// Elements
$background-pink: #d22856;
$background-grey: #e5e5e5;
$background-nav: #283645;
$border-nav: #000000;
$main-nav-border-top: rgba(255, 255, 255, 0.15);
$main-nav-border-bottom: #000000;
$background-header: rgba(0, 0, 0, 0.3);
$border-social: rgba(40, 54, 69, 0.1);

// Hover&Active
$text-hover: #d22856;
$button-hover: #ffffff;
$button-text-hover: rgba(210, 40, 86, 0.3);
$input-hover: #283645;
$input-active: #d22856;

// Index
$background-app: #1d2631;
$background-grey-advantages: #f2f2f2;
$background-price: #f2f2f2;
$background-price-toggle: #283645;
$background-toggle: #ffffff;
$table-grid-border: #e5e5e5;
$table-background: #283645;
$table-background-base: #ffffff;

// Form
$background-fieldset: #f2f2f2;
$form-title: #d22856;
$form-border: #e5e5e5;
$border-checkbox: #e5e5e5;
$background-color-checkbox: #ffffff;
$background-color-radio: #d22856;
$shadow-popup: rgba(0, 1, 1, 0.15);
$background-popup: #ffffff;

// Catalog
$background-blockquote: #f2f2f2;
$text-color-like: #d22856;
$background-scale: #283645;
$background-toggle: #ffffff;
$border-toggle: #d22856;
$filter-after-line: #283645;
$background-filter: #f2f2f2;

// Buttons
$button-border-white: #ffffff;
$button-text-color: #ffffff;
//button-form
$button-green: #2aab6d;
$button-green-hover: #1c9b5e;
$button-green-disabled: #e5e5e5;
//button-catalog
$button-pink: #d22856;
$button-pink-active: rgba(210, 40, 86, 0.3);
$button-cancel: #283645;

//Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 759px;
